[versions]

# Added by buildout at 2013-10-10 23:38:53.603747
mr.developer = 1.26
z3c.recipe.tag = 0.7
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1

# Required by:
# gram==0.1
PyYAML = 3.10

# Added by buildout at 2013-10-13 17:39:18.903092
zc.recipe.testrunner = 2.0.0

# Required by:
# zope.testrunner==4.4.1
six = 1.4.1

# Required by:
# zope.testrunner==4.4.1
zope.exceptions = 4.0.6

# Required by:
# zope.testrunner==4.4.1
zope.interface = 4.0.5

# Required by:
# zc.recipe.testrunner==2.0.0
zope.testrunner = 4.4.1

# Added by buildout at 2014-04-08 14:10:19.494532

# Required by:
# gram==0.1
docopt = 0.6.1
